# Ignore virtual environment folders
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables or sensitive files
.env
*.env


# Ignore log files
*.log

# Ignore temporary files or backups
*.bak
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
